// // Specific CSS for your home-page
// body {
//   height: 100%;
//   background-image: url("https://images.unsplash.com/photo-1525772113380-aa8ed1acf3b7");
//   background-size: cover;
//   background-position: top;
//   // background-color: rgba(71, 154, 224, 0.3);
// }
body {
  margin: 0 !important;
}

.background-image {
  width: 100%;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
// .row {

//   height: 100%;
// }
