// Specific CSS for your home-page
/*body {
  background-color: rgba(71, 154, 224, 0.3);
}*/
body {
  margin: 0 !important;
}

.min-height {
  min-height: calc(100vh - 100px);
}

.background-image {
  width: 100%;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.row {

  height: 100%;
}
