<div class="row mt-5">
  <div class="col-sm-8 offset-sm-2">
    <div class="card-show">
      <h1>Update your translation job</h1>
      <p>Please fill in the form bellow so we can match you
        with the best interpreter</p>
      <%= render 'form', job: @job %>
    </div>
  </div>
</div>