<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Book your translation job</h1>
    <p>Please fill in the form to confirm your booking</p>
    <%= render 'form', job: @job %>
  </div>
  <div class="col-sm-2"></div>
</div>
