
<div class="row">
  <div class="col-md-6">
    <div div class=" mt-4 pt-4">
      <h1>We open up language to everyone</h1>
      <h2>Professional translation services made easy. Crafted by expert humans, powered by technology, efficiently delivered.</h2>
    </div>
    <div class="align-bottom md-12  md-8 ml-4 pd-10 mt-4 pt-4 float-right">
      <%= link_to new_user_registration_path :interpreter => true do %>
        <button type="button" class="btn-lg btn-outline-primary mr-3">
          Sign up as Interpreter
        </button>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn-lg btn-outline-success">
          Post a Job
        </button>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 md-12">
    <%= image_tag('soffione-translated@2x.png', class:'background-image') %>
  </div>
</div>
